/*TABLE OF CONTENTS
============================================================================================

00. Colors

01. Body, links, paragraphs, general style

02. Header & Navigation

03. Footer

04. Section Landing Page

05. Responsive

==========================================================================================*/

/*==========================================
00. Colors
===========================================*/
/*==========================================
 Body, links, paragraphs, general style
===========================================*/
div#navbarSupportedContent.collapse.navbar-collapse.justify-content-end>ul.nav>li.nav-item>a.nav-link{
    color:#FFF;
    border-left:1px solid #FFF;
    padding:1rem;
    font-size:14px;
}
nav#navigation.navbar.navbar-expand-xl.navbar-dark.bg-dark>svg.svg-inline--fa.fa-square.fa-w-14,
div#navbarSupportedContent.collapse.navbar-collapse.justify-content-end>ul.nav>li.nav-item>a.nav-link>svg.svg-inline--fa.fa-cog.fa-w-16,
div#navbarSupportedContent.collapse.navbar-collapse.justify-content-end>ul.nav>li.nav-item>a.nav-link>svg.svg-inline--fa.fa-square.fa-w-14,
div#navbarSupportedContent.collapse.navbar-collapse.justify-content-end>ul.nav>li.nav-item>a.nav-link>svg.svg-inline--fa.fa-question.fa-w-12,
div#navbarSupportedContent.collapse.navbar-collapse.justify-content-end>ul.nav>li.nav-item>a.nav-link>svg.svg-inline--fa.fa-arrow-alt-right.fa-w-14
{
    font-size:1.5rem;
    vertical-align:top;
}
table#entities-table.table>tbody>tr>th>a.btn>svg.svg-inline--fa.fa-plus-circle.fa-w-16{
    color:#000;
}
form#modal-forms>div.form-group>label.col-lg-4,
form#modal-forms>div.form-group.row>label{
    font-size:14px;
}
form#modal-forms>div.form-group.row>label{
    padding:0 4rem 0 1rem;
}
form#modal-forms>div.form-group>label.col-lg-4,
form#modal-forms>div.form-group>label{
    max-width:30%;
}
form#modal-forms>div.form-group.row>input#exampleInputEmail1.col-lg-8,
form#modal-forms>div.form-group.row>select.form-control.col-lg-8,
form#modal-forms>div.form-group>select.form-control.col-lg-8,
form#modal-forms>div.form-group.row>textarea#exampleFormControlTextarea1.form-control.col-lg-8{
    max-width:60%;
}

/*==========================================
 Header & Navigation
===========================================*/
/*TOP NAV*/
nav#navigation.navbar.navbar-expand-xl.navbar-dark.bg-dark{
    padding: 0 3rem;
}
nav#navigation.navbar.navbar-expand-xl.navbar-dark.bg-dark>a.navbar-brand{
    padding:1rem 0;
}
div#navbarSupportedContent.collapse.navbar-collapse.justify-content-end>ul.nav>li.nav-item>a.nav-link>span.menu-link{
    vertical-align:super;
    padding-left:5px;
}
div#navbarSupportedContent.navbar-collapse.justify-content-end.collapse.show>ul.nav{
    display:block;
    text-align:right;
}
div#navbarSupportedContent.navbar-collapse.justify-content-end.collapse.show>ul.nav>li.nav-item>a.nav-link{
    padding:6px 0;
    border:none;
}

/*BOTTOM-NAV*/
nav#bottom-nav.row.container-fluid{
    margin:auto;
}
nav#bottom-nav.row.container-fluid,
nav#bottom-nav.row.container-fluid>ol.breadcrumb{
    background-color:#E3E3E3;
}
nav#bottom-nav.row.container-fluid>ol.breadcrumb.container-fluid{
    padding:0;
}
nav#bottom-nav.row.container-fluid>ul.nav.nav-tabs{
    padding:1rem 1rem 0 38rem;
}
nav#bottom-nav.row.container-fluid>ol.breadcrumb.container{
    padding:2rem 0 0 0;
}
nav#bottom-nav.row.container-fluid>ol.breadcrumb>li.breadcrumb-item>a>span.bottom-menu-link,
nav#bottom-nav.row.container-fluid>ol.breadcrumb>li.breadcrumb-item>span.bottom-menu-link{
    font-size:14px;
    color:#000;
}
nav#bottom-nav.row.container-fluid>ul.nav.nav-tabs>li.nav-item>a.nav-link{
    font-size:14px;
    font-weight:600;
    text-align:center;
    color:#000;
    padding:.5rem 3.5rem;
    border-radius:0;
}
nav#bottom-nav.row.container-fluid>ul.nav.nav-tabs>li.nav-item>a.nav-link.active{
    background-color:#FFF;
    color:#000;
}
nav#bottom-nav.row.container-fluid>ul.nav.nav-tabs>li.nav-item>a.nav-link{
    background-color:#909090;
    color:#FFF;
}

/*FILTER MENU*/
div#filter-menu.row.container>div.dropdown.filter-menu{
    background-color:#e3e3e3;
    border:1px solid #000;
    border-radius:5px;
    width:10.5rem;
    margin:1rem 0rem 1rem 2rem;
}
div#filter-menu.row.container>div.dropdown.filter-menu.primary-function{
    width:12.5rem;
}
div#filter-menu.row.container>div.dropdown.filter-menu>button#dropdownMenuButton.btn.btn-light.dropdown-toggle,
div.dropdown.filter-menu>button#dropdownDomicile.btn.btn-light.dropdown-toggle{
    background-color:#e3e3e3;
    border:none;
    width:7.7rem;
    font-size:14px;
}
div.dropdown.filter-menu>button#dropdownPrimary.btn.btn-light.dropdown-toggle{
    background-color:#e3e3e3;
    border:none;
    width:9.7rem;
    font-size:14px;
}
div#filter-menu.row.container>div.dropdown.filter-menu>button.btn.btn-light.times-button{
    background-color:#909090;
    border:none;
    border-radius:0px 5px 5px 0px;
    width:2.4rem;
}
button#dropdownMenuButton.btn.btn-light.dropdown-toggle>span.dropdown-text{
    margin-right:7px;
}
button#dropdownDomicile.btn.btn-light.dropdown-toggle>span.dropdown-text{
    margin-right:1.6rem;
}
div#filter-menu.row.container>button.btn.btn-secondary.remove-filter,
div#filter-menu.row.container>button.btn.btn-secondary.apply-filter{
    background-color:#00B0B9;
    border-color:#00B0B9;
    color:#FFF;
    font-size:14px;
    margin:1rem 0 1rem 2rem;
    width:6rem;
}
div#multiCollapseExample.multi-collapse.collapse.show>div.card.card-body,
div#multiCollapseExample1.multi-collapse.collapse.show>div.card.card-body,
div#multiCollapseExample2.multi-collapse.collapse.show>div.card.card-body,
div#multiCollapseExample3.multi-collapse.collapse.show>div.card.card-body,
div#multiCollapseExample4.multi-collapse.collapse.show>div.card.card-body,
div#multiCollapseExample5.multi-collapse.collapse.show>div.card.card-body,
div#multiCollapseExample6.multi-collapse.collapse.show>div.card.card-body,
div#multiCollapseExample7.multi-collapse.collapse.show>div.card.card-body,
div#multiCollapseExample8.multi-collapse.collapse.show>div.card.card-body,
div#multiCollapseExample9.multi-collapse.collapse.show>div.card.card-body,
div#multiCollapseExample10.multi-collapse.collapse.show>div.card.card-body,
div#multiCollapseExample11.multi-collapse.collapse.show>div.card.card-body{
    border:none;
}
table#entities-table.table>tbody>tr>td{
    font-size:14px;
    vertical-align:middle;
}
div#exampleModal.modal.fade.show>div.modal-dialog>div.modal-content{
    width:40rem;
}
h5#exampleModalLabel.modal-title{
    color:#FFF;
}
form#modal-forms>div.form-group.row>table.table.table-striped>thead>tr>th,
form#modal-forms>div.form-group.row>table.table.table-striped>tbody>tr>th{
    text-align:left;
    font-size:13px;
    font-weight:500;
}
form#modal-forms>div.form-group.row>table.table.table-striped>tbody>tr>td>input#exampleInputEmail1.form-control{
    max-width:65%;
}
div#exampleModal.modal.fade.show>div.modal-dialog>div.modal-content>div.modal-footer.row{
    padding:1rem 3rem;
    margin: auto 0;
}
div#exampleModal.modal.fade.show>div.modal-dialog>div.modal-content>div.modal-header.bg-dark>button.close{
    color:#FFF;
}
h5#exampleModalLabel.modal-title{
    font-size:1rem;
}
/*==========================================
 Footer
===========================================*/
/*==========================================
 Section Entity Directory
===========================================*/
div#border-entities.row.container-fluid{
    background-color:#909090;
    margin:auto;
}
div#border-entities.row.container-fluid>h6.section-header{
    margin: 5px 1rem;
}
div#border-entities.row.container-fluid>div.bolt-icon>button#dropdownBoltHeader.btn.btn-light.dropdown-toggle{
    background-color:#e3e3e3;
    width:2rem;
    height:2rem;
    text-align:center;
    border-radius:50%;
    color:#909090;
    margin:5px auto 5px 66.9rem;
    padding:4px;
}
button#dropdownBoltHeader.btn.btn-light.dropdown-toggle::after,
button#dropdownBoltA.btn.btn-light.dropdown-toggle::after{
    display:none;
}
button#dropdownBoltA.btn.btn-light.dropdown-toggle{
    background-color:#909090;
    border-radius:50%;
    color:#FFF;
}
table#entities-table.table>thead>tr>th.table-header{
    font-size:14px;
    font-weight:700;
}
table#entities-table.table>tbody>tr>th{
    padding:0 8px;
    font-weight:400;
    vertical-align:inherit;
}
table#entities-table.table>tbody>tr>th>a.btn{
    padding:0;
}
form#modal-forms>div.form-group.row>label.col-lg-4{
    font-size:14px;
    max-width:30%;
}
/*==========================================
 Responsive
===========================================*/
@media screen and (min-width: 1025px) and (max-width: 1280px) {

    
}

@media only screen and (max-width: 1192px) {

}

@media screen and (max-width: 768px) {

}


@media screen and (max-width: 480px){

}


@media screen and (max-height: 360px) {

}

